<section class="Tareas">
  <div class="Tareas__container">
    <div class="Tareas__user">
      <h3>Usuario: {{ user }}</h3>
    </div>
    <div class="Tareas__add">
      <form [formGroup]="taskForm" (ngSubmit)="addTask()">
        <h3>LISTA DE TAREAS</h3>
        <label>Tarea: </label>
        <input
          alphabetNumericOnly
          type="text"
          formControlName="task"
          placeholder="Nueva tarea"
          (keypress)="handleKeyPress($event)"
        />
        <button type="submit">Agregar</button>
      </form>
    </div>
    <div class="Tareas__list">
      <ul>
        <li *ngFor="let task of tasks$ | async; let i = index">
          <input
            type="checkbox"
            [checked]="task.completed"
            (change)="toggleTask(i)"
          />
          <span [ngClass]="{ completed: task.completed }">{{ task.text }}</span>
          <button *ngIf="!task.completed" (click)="removeTask(i)">X</button>
        </li>
      </ul>
    </div>
  </div>
</section>
